{% extends 'bases.html.twig' %}

{% block title %}Stage BTS{% endblock %}

{% block content %}

<style>
.image {
    margin : auto;
    flex: block;
}

article {
    background-color : white;
}
</style>

<article>
<br>
  <h1 class="text-center">Page d'avis</h1>
  
  
  <div class="row">
    <!-- Première colonne -->
    <div class="col-md-4 text-center">
    <br>
    <br>
    <br>
      <p class="lead">Pour donner un avis sur un établissement visité</p>
      <a href="donnerAvis.php">
        <button type="button" class="btn btn-primary btn-lg">
          Clique ici
        </button>
      </a>
    </div>

    <!-- Deuxième colonne -->
    <div class="col-md-4 text-center">
      <img src="images/commentaire.png" alt="logo" width="300" height="240" class="image" >
    </div>
    
    <!-- Deuxième colonne -->
    <div class="col-md-4 text-center">
    <br>
    <br>
    <br>
      <p class="lead">Pour rechercher un établissement selon les votes</p>
      <a href="donnerAvis.php">
        <button type="button" class="btn btn-primary btn-lg">
          Clique ici
        </button>
      </a>
    </div>
  </div>

  <br>
  {% block content1 %}{% endblock %}
</article>

{% endblock %}
