{% extends 'bases.html.twig' %}

{% block title %}Stage BTS{% endblock %}

{% block content %}

<style>


.test {
      font-size: 20px; /* Taille fixe en pixels */
  text-align: center;
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 32px;
  color: #d8b7a6 ;
  text-align: center;
  display: block;
  margin: 0 auto;
}

</style>

<article>
  <h1 >Avis</h1>
  <br>
  <p class="test"> Pour donner un avis sur un établissement visité </p>
  <a href="donnerAvis.php" class="test">Clique ici</a>
  <br>
  <p class="test"> Pour rechercher un établissement selon les votes </p>
  <a href="donnerAvis.php" class="test">Clique ici</a>


<br>
  {% block content1 %}{% endblock %}
</article>

{% endblock %}
