
{% extends 'bases.html.twig' %}

{% block title %}Stage BTS{% endblock %}

{% block content %}
<article>
<h1> Bienvenue </h1>

        <p>Pour découvrir le meilleur de la France.</p>
        </article>

{% endblock %}

