{% extends 'bases.html.twig' %}

{% block title %}ANAC GAMES{% endblock %}

{% block content %}

</br>
</br>
</br>

<h1> ANAC GAMES </h1>

</br>
</br>
</br>

<a href="quiz.php" class="text-decoration-none">
  <div class="card text-bg-dark">
    <img src="images/jeux.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Quizz</h5>
      <p class="card-text">Teste ta culture française avec un quizz de 10 questions !</p>
      <p class="card-text"><small>ANAC Games</small></p>
    </div>
  </div>
</a>

</br>

<a href="memoire.php" class="text-decoration-none">
  <div class="card text-bg-dark">
    <img src="images/jeux.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Memory</h5>
      <p class="card-text">Tu penses avoir une bonne mémoire ? Ce jeu est fait pour toi !</p>
      <p class="card-text"><small>ANAC Games</small></p>
    </div>
  </div>
</a>

</br>

<a href="jeu_chrono.php" class="text-decoration-none">
  <div class="card text-bg-dark">
    <img src="images/jeux.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">City counter</h5>
      <p class="card-text">Serais-tu capable de siter les 30 villes les plus peuplées de France ? Montre nous ça !</p>
      <p class="card-text"><small>ANAC Games</small></p>
    </div>
  </div>
</a>

</br>

<a href="jeu_specialites.php" class="text-decoration-none">
  <div class="card text-bg-dark">
    <img src="images/jeux.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Spécialités culinaires</h5>
      <p class="card-text">La ratatouille, le piment d'Espelette, le camembert... D'où viennent ces spécialités françaises ? À toi de nous le dire !</p>
      <p class="card-text"><small>ANAC Games</small></p>
    </div>
  </div>
</a>

</br>

{% endblock %}