{% extends 'bases.html.twig' %}

{% block title %}Jeux - Mots croisés{% endblock %}

{% block content %}

<style>
    body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.regions, .specialties {
    display: flex;
    flex-direction: column;
}

.region, .specialty {
    border: 2px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    text-align: center;
}

.region {
    background-color: #f8f8f8;
}

.specialty {
    background-color: #e8e8e8;
}

.specialty.dragging {
    opacity: 0.5;
}

</style>


    <h1>Associe la spécialité culinaire à sa région</h1>

    <div class="game-container">
        <div class="regions">
            <div id="bordeaux" class="region" ondrop="drop(event)" ondragover="allowDrop(event)">Bordeaux</div>
            <div id="normandie" class="region" ondrop="drop(event)" ondragover="allowDrop(event)">Normandie</div>
            <div id="provence" class="region" ondrop="drop(event)" ondragover="allowDrop(event)">Provence</div>
            <div id="alsace" class="region" ondrop="drop(event)" ondragover="allowDrop(event)">Alsace</div>
        </div>
        <div class="specialties">
            <div id="canele" class="specialty" draggable="true" ondragstart="drag(event)">Canelé</div>
            <div id="camembert" class="specialty" draggable="true" ondragstart="drag(event)">Camembert</div>
            <div id="ratatouille" class="specialty" draggable="true" ondragstart="drag(event)">Ratatouille</div>
            <div id="choucroute" class="specialty" draggable="true" ondragstart="drag(event)">Choucroute</div>
        </div>
    </div>

    <script src="../js/mots_croises.js"></script>



{% endblock %}