{% extends 'bases.html.twig' %}

{% block title %}2 jours à Paris : Musées, Monuments, Jardins et Quartiers{% endblock %}

{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-center mb-4">2 jours à Paris : Musées, Monuments, Jardins et Quartiers</h1>
        <p class="text-xl text-center mb-8">Découvrez les incontournables de Paris en deux jours.</p>

        <!-- Jour 1 -->
        <div class="bg-white rounded-lg shadow-md p-6 mb-6">
            <h2 class="text-2xl font-bold mb-4">Jour 1 : Musées et monuments parisiens</h2>
            <p class="text-lg mb-4">
                La ville de Paris abrite des monuments et des musées extraordinaires, prestigieux ou insolites, mondialement connus ou plus confidentiels. Nous vous proposons de consacrer votre première journée à Paris à la découverte de quelques-uns de ces monuments et musées qui contribuent au succès de cette destination. Munissez-vous de vos billets coupe-file et enchaînez les visites !
            </p>

            <!-- Musée du Louvre -->
            <h3 class="text-xl font-semibold mb-2">Musée du Louvre</h3>
            <p class="text-lg mb-4">
                Le <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Musée du Louvre
                    <img src="images/musee-louvre.jpg" 
                         alt="Musée du Louvre" 
                         class="hover-image">
                </span> vous accueille chaque matin dès 9h00 à l’exception du mardi, jour de fermeture hebdomadaire. En arrivant à l’ouverture, vous bénéficiez d’une affluence moindre et vous évitez une file d’attente trop importante. Une visite de 2h30 vous permet d’admirer les principales œuvres d’art et les pièces de collection les plus précieuses du musée : la Joconde, la Vénus de Milo, les Noces de Cana, la Liberté guidant le peuple…
            </p>
            <p class="text-lg mb-4">
                <strong>Conseil :</strong> Réservez votre  accès prioritaire au musée du Louvre  pour optimiser votre temps de visite.
            </p>

            <!-- Tour Eiffel -->
            <h3 class="text-xl font-semibold mb-2">Tour Eiffel</h3>
            <p class="text-lg mb-4">
                En fin de matinée, nous vous proposons de prendre la direction de la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Tour Eiffel
                    <img src="images/toureffel.jpg" 
                         alt="Tour Eiffel" 
                         class="hover-image">
                </span>. Le monument le plus célèbre de France vous offre une vue panoramique sur les toits de Paris, qui étincellent sous le soleil de midi. Nous vous conseillons de réserver vos billets en ligne avec accès réservé pour gagner un temps précieux à votre arrivée.
            </p>
            <p class="text-lg mb-4">
                <strong>Option déjeuner :</strong> Dégustez un repas entre terre et ciel au  <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                  restaurant Madame Brasserie
                    <img src="images/restaurantmadamebrasserie.jpg" 
                         alt="Madame Brasserie" 
                         class="hover-image">
                </span> (1er ou 2e étage). Réservez votre billet avec déjeuner.
            </p>

            <!-- Hôtel des Invalides -->
            <h3 class="text-xl font-semibold mb-2">Hôtel des Invalides</h3>
            <p class="text-lg mb-4">
                Une promenade à pied de 30 minutes par le <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Champ de Mars
                    <img src="images/champ-de-mars.jpg" 
                         alt="Champ de Mars" 
                         class="hover-image">
                </span> vous mène à l’<span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Hôtel des Invalides
                    <img src="images/Hôtel-des-Invalides.jpg" 
                         alt="Hôtel des Invalides" 
                         class="hover-image">
                </span> couronné de son dôme doré. L’édifice, construit par Louis XIV, avait vocation à offrir un refuge aux vétérans de l’armée qui ont versé leur sang pour le royaume. Aujourd’hui, l’Hôtel National des Invalides héberge le <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Musée de l'Armée
                    <img src="images/musee-armee.jpg" 
                         alt="Musée de l'Armée" 
                         class="hover-image">
                </span> qui retrace l’histoire militaire à travers les âges.
            </p>
            <p class="text-lg mb-4">
                <strong>Durée de visite :</strong> 2h00 pour admirer les plus belles pièces, armes et armures.
            </p>

            <!-- Arc de Triomphe -->
            <h3 class="text-xl font-semibold mb-2">Arc de Triomphe</h3>
            <p class="text-lg mb-4">
                L’après-midi touche bientôt à sa fin. C’est le moment d’admirer la perspective des <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Champs-Élysées
                    <img src="images/champs-elysees.jpg" 
                         alt="Champs-Élysées" 
                         class="hover-image">
                </span> depuis l’<span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Arc de Triomphe
                    <img src="images/Arc-de-Triomphe.webp" 
                         alt="Arc de Triomphe" 
                         class="hover-image">
                </span>. Le monument ferme ses portes à 22h30 en hiver et à 23h00 en saison estivale, ce qui vous permet d’attendre le coucher du soleil depuis sa plateforme sommitale.
            </p>

            <!-- Soirée à Paris -->
            <h3 class="text-xl font-semibold mb-2">Soirée à Paris</h3>
            <p class="text-lg mb-4">
                Pour conclure la première journée de votre week-end à Paris, vous avez le choix entre plusieurs options :
            </p>
            <ul class="list-disc list-inside mb-4">
                <li class="text-lg">
                    <strong><span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                        Moulin Rouge
                        <img src="images/moulin-rouge.jpg" 
                             alt="Moulin Rouge" 
                             class="hover-image">
                    </span> :</strong> Découvrez l’un des plus célèbres cabarets de Paris pour une soirée inoubliable.
                </li>
                <li class="text-lg">
                    <strong><span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                        Croisière de nuit sur la Seine
                        <img src="images/croisiere-seine.jpg" 
                             alt="Croisière sur la Seine" 
                             class="hover-image">
                    </span> :</strong> Profitez d’un dîner gastronomique tout en admirant les monuments illuminés.
                </li>
                <li class="text-lg">
                    <strong>Quartiers animés :</strong> Explorez les quartiers de la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                        Bastille
                        <img src="images/Bastille.jpg" 
                             alt="Bastille" 
                             class="hover-image">
                    </span>, <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                        Oberkampf
                        <img src="images/oberkampf.jpg" 
                             alt="Oberkampf" 
                             class="hover-image">
                    </span> ou la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                        rue Mouffetard
                        <img src="images/rue-mouffetard.png" 
                             alt="Rue Mouffetard" 
                             class="hover-image">
                    </span> pour une ambiance nocturne animée.
                </li>
            </ul>
        </div>

        <!-- Jour 2 -->
        <div class="bg-white rounded-lg shadow-md p-6 mb-6">
            <h2 class="text-2xl font-bold mb-4">Jour 2 : Jardins et quartiers de la capitale</h2>
            <p class="text-lg mb-4">
                Pour votre seconde journée de visite à Paris, nous vous proposons d’adopter un rythme plus serein. Découvrez des jardins paisibles et des quartiers chargés d'histoire.
            </p>

            <!-- Parc des Buttes Chaumont -->
            <h3 class="text-xl font-semibold mb-2">Parc des Buttes Chaumont</h3>
            <p class="text-lg mb-4">
                Le <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Parc des Buttes Chaumont
                    <img src="images/parcbutteschaumont.jpg" 
                         alt="Parc des Buttes Chaumont" 
                         class="hover-image">
                </span>, plus grand jardin paysager de Paris, abrite un lac, une île et un temple en rotonde d’inspiration antique. Ouvert dès l’aube, il vous invite à la flânerie avec ses allées ombragées, ses pelouses et son plan d’eau. Une promenade d’une heure vous aide à recharger vos batteries et à débuter la journée de bonne humeur.
            </p>

            <!-- Butte Montmartre et Basilique du Sacré-Cœur -->
            <h3 class="text-xl font-semibold mb-2">Butte Montmartre et Basilique du Sacré-Cœur</h3>
            <p class="text-lg mb-4">
                Vous pouvez ensuite vous diriger vers la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Butte Montmartre
                    <img src="images/butte-montmartre.jpg" 
                         alt="Butte Montmartre" 
                         class="hover-image">
                </span>, couronnée par l’élégante <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Basilique du Sacré-Cœur
                    <img src="images/sacre-coeur.jpg" 
                         alt="Basilique du Sacré-Cœur" 
                         class="hover-image">
                </span>. L’imposant édifice en pierres blanches, de style romano-byzantin, compte parmi les monuments les plus emblématiques de la capitale. Une fois à l’intérieur, levez les yeux vers la voûte du chœur : elle accueille l’une des plus grandes mosaïques au monde.
            </p>
            <p class="text-lg mb-4">
                Redescendez à pied par le quartier de <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Montmartre
                    <img src="images/montmartre.jpg" 
                         alt="Montmartre" 
                         class="hover-image">
                </span>, l’un des plus pittoresques de Paris. Prenez le temps de vous faire croquer le portrait sur la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    place du Tertre
                    <img src="images/place-du-tertre.jpg" 
                         alt="Place du Tertre" 
                         class="hover-image">
                </span>, et emportez une caricature à votre effigie en souvenir de vos deux jours à Paris ! Si l’appétit est au rendez-vous, vous pouvez vous installer à la terrasse d’un restaurant, d’un bistrot ou d’une brasserie.
            </p>

            <!-- Quartier Latin -->
            <h3 class="text-xl font-semibold mb-2">Quartier Latin</h3>
            <p class="text-lg mb-4">
                Le <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    quartier Latin
                    <img src="images/quartier-latin.jpg" 
                         alt="Quartier Latin" 
                         class="hover-image">
                </span> doit son nom à son passé estudiantin. L’un des plus vieux quartiers de Paris abritait en effet au Moyen-âge des universités et des établissements scolaires qui dispensaient leurs cours en langue latine. Une promenade dans le quartier vous mène de point d’intérêt en attraction touristique, entre musées, monuments et vestiges antiques.
            </p>
            <p class="text-lg mb-4">
                Vous pouvez admirer la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    fontaine Saint-Michel
                    <img src="images/fontaine-saint-michel.webp" 
                         alt="Fontaine Saint-Michel" 
                          class="small-hover-image ">
                </span> et l’<span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    église Saint-Séverin
                    <img src="images/eglise-saint-severin.jpg" 
                         alt="Église Saint-Séverin" 
                          class="small-hover-image ">
                </span>, ou vous perdre dans les ruelles autour des rues <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Saint-André des Arts
                    <img src="images/rue-saint-andre-des-arts.jpg" 
                         alt="Rue Saint-André des Arts" 
                          class="small-hover-image ">
                </span> et de la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Huchette
                    <img src="images/rue-de-la-huchette.jpg" 
                         alt="Rue de la Huchette" 
                          class="small-hover-image ">
                </span>. Le <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    square René Viviani
                    <img src="images/square-rene-viviani.jpg" 
                         alt="Square René Viviani" 
                          class="small-hover-image ">
                </span>, accolé à l'église <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Saint-Julien-le-Pauvre
                    <img src="images/eglise-saint-julien-le-pauvre.jpg" 
                         alt="Église Saint-Julien-le-Pauvre" 
                          class="small-hover-image ">
                </span>, offre un point de vue imprenable et insolite sur la <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    cathédrale Notre-Dame-de-Paris
                    <img src="images/notre-dame-de-paris.jpg" 
                         alt="Cathédrale Notre-Dame-de-Paris" 
                          class="small-hover-image ">
                </span>.
            </p>
            <p class="text-lg mb-4">
                Le quartier abrite également le <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    musée de Cluny
                    <img src="images/musee-cluny.jpg" 
                         alt="Musée de Cluny" 
                          class="small-hover-image ">
                </span>, consacré au Moyen-âge. Entre les murs d’un ancien hôtel particulier médiéval, lui-même construit sur des <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Thermes romains
                    <img src="images/thermes-romains.jpg" 
                         alt="Thermes romains" 
                          class="small-hover-image ">
                </span>, l’établissement possède des collections exceptionnelles. Comptez 1h30 pour une visite thématique.
            </p>
            <p class="text-lg mb-4">
                Vous pouvez conclure votre visite du quartier Latin par une découverte du <span class="hover-image-trigger relative inline-block text-yellow-600 hover:text-yellow-800">
                    Panthéon
                    <img src="images/pantheon.jpg" 
                         alt="Panthéon" 
                          class="small-hover-image ">
                </span>, dernière et prestigieuse demeure d’hommes et de femmes qui ont marqué la Nation : artistes, scientifiques, personnalités politiques…
            </p>
        </div>

        <!-- Bouton de retour -->
        <div class="text-center">
            <a href="programme.php" class="bg-yellow-500 text-white px-3 py-1 rounded-lg shadow hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-300" style="background-color: #c49e8f;">
                Retour à la liste des villes
            </a>
        </div>
    </div>

    <!-- Styles pour les images au survol -->
    
{% endblock %}