{% extends 'bases.html.twig' %}

{% block title %}Recherche {% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Liste des Hotels</h1>

        <div class="list-group mt-4">
            {% for hotel in hotels %}
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ hotel.nom }}</h5>
                    <p class="mb-1">{{ hotel.ville }}</p>
                     <p class="mb-1">Type : {{ hotel.type }}</p>
                </a>
            {% else %}
                <p>Aucun hotel trouvé.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}


